
.h3{
    color: rgb(13, 114, 223);
    font-weight:bold;
    margin-top:10px;
    margin-bottom:20px;
}
.button {
    background-color: #22356e;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 14px;
  }
  
  .button1:hover {
    background-color: #008CBA;
    color: white;
  }