body{
    font-family: 'Open Sans', sans-serif;
    background:#fff;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }
  
  p{
    font-size:12px;
    text-decoration: none;
    color:#ffffff;
  }
  
  h1{
    font-size:1.5em;
    color:#525252;
  }
  
  .box{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid;
    box-shadow: 5px 5px 5px 5px lightblue;

  }
  .clm{
    margin-left: 42.5%;
    padding: 8px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border:2px solid #aab;
    width: fit-content;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 12px lightblue;

    }
  .input{
    background:#959a9b;
    border: rgb(25, 19, 19) 1px solid;
    border-bottom: rgb(25, 19, 19) 1px solid;
    padding: 8px;
    width:250px;
    color:#000000;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  .input2{
    background:#ebf1f2;
    border: rgb(25, 19, 19) 1px solid;
    border-bottom: rgb(25, 19, 19) 1px solid;
    padding: 8px;
    width:250px;
    color:#050505;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }